---
import config from "@/config/config.json";
import {
  IoLogoTwitter,
  IoLogoWhatsapp,
  IoMail,
} from "react-icons/io5/index.js";

const { base_url }: { base_url: string } = config.site;
const {
  title,
  slug,
  className,
}: { title?: string; slug?: string; className?: string } =
  Astro.props;

const fullUrl = `${base_url}/projetos/${slug}`;
const encodedFullUrl = encodeURIComponent(fullUrl);
const description = "Explore este projeto inovador de ivanluna.dev! Descubra como ele aproveita tecnologias de ponta para redefinir experiências de usuário e impulsionar soluções inovadoras.";

---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title}&url=${encodedFullUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="whatsapp share button"
      href={`https://api.whatsapp.com/send?text=${title} - ${description}%0D%0A%0D%0A${fullUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoWhatsapp />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="email share button"
      href={`mailto:?subject=${title}&body=${description}%0D%0A%0D%0A${fullUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoMail />
    </a>
  </li>
</ul>
